/* CSS */
*{margin: 0; padding: 0 }

div.box
{
border:2px solid pink;
background-color:yellow;
margin:10px;
width:169px;
height:169px;
color: Orange;
padding-top: 75px;



/* new properties*/
font-family:
font-size:

}
