/*initial setups*/
.body
{
background-color:white;
place-items: center;

}
.mouth
/*positioning assistance*/
}
.container
{
display: flex;
justify-content: center;
position:relative;
}

/*head basis and main*/
.head
{
width:300px;
height:300px;
border-radius: 50%;
border: 10px solid black;
background: #ffcba4;
position: relative;
justify-content:center;
display:flex;
align-items: baseline;
}

.head::before{
	content:"";
	position: absolute;
	width:300px;
	height:300px;
	border-radius: 50%;
	box-shadow: inset -22px 4px 0 3px rgba(0,0,0,.2);
}
/*head shaddow drop */

.head::after
{
	content:"";
	position: absolute;
	width:15px;
	height:30px;
	background:#ffcba4;
	margin-top:300px;
	border:10px solid black;
}

/*basic black hole for mouth*/
.mouth

{
	width:180px;
	height:80px;
	position: abolute;
	border:10px solid black;
	border-radius: 50%;
	align-self: center;
	margin-top:200px;
	background:black;
	
	
	
}


/*mouth outline*/




.eyeright, .eyeleft
{
	background: black;
	border-radius:10%;
	width:175px;
	height: 175px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/*tooth gold addition*/
.tooth1
{
	background: yellow;
	border-radius:10%;
	width:20px;
	height: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-53px;
	right:-75px;
	transform: rotate(25deg);
}

/*tooth bottom second to right*/
.tooth2
{
	background: white;
	border-radius:10%;
	width:20px;
	height: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-63px;
	right:-96px;
	transform: rotate(25deg);
}
/*tooth on the lower right*/
.tooth3
{
	background: white;
	border-radius:10%;
	width:20px;
	height: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-75px;
	right:-116px;
	transform: rotate(20deg);
}
/*bucktooth number one*/
.toothtop1
{
	background: white;
	border-radius:100% 0% 16% 84% / 0% 100% 0% 100%;
	width:26px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-165px;
	right:-132px;
	transform: rotate(deg);
}
/*bucktooth number 2*/
.toothtop2
{
	background: white;
	border-radius:100% 0% 100% 0% / 0% 0% 100% 100%;
	width:26px;
	height: 40px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-206px;
	right:-160px;
	transform: rotate(deg);
}
/*shirt basis and begining main */
.shirt
{
	background: red;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:300px;
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-110px;
	right:-5px;
	transform: rotate(deg);
	border:10px solid black;
}
/*begging of color starts for sleve*/
.rightsleeve
{
	background: red;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:50px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-400px;
	right:-250px;
	transform: rotate(-120deg);
	border:10px solid black;
}
/*assistance creating shirt rightside sleeve*/
.rightsleeve
{
	background: red;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:50px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-400px;
	right:-250px;
	transform: rotate(-120deg);
	border:10px solid black;
}

/* lower right arm position */


.rightarm
{
	background: beige;
	border-radius:87% 13% 87% 13% / 88% 20% 80% 12% ;
	width:400px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-460px;
	right:-75px;
	transform: rotate(-18deg);
	z-index:-1;
}

/*upper forearm*/


.rightarm1
{
	background: beige;
	border-radius:87% 13% 87% 13% / 88% 20% 80% 12% ;
	width:300px;
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-720px;
	right:-255px;
	transform: rotate(75deg);
	z-index:-1;
}

/*position assistance for eyes*/

.eyeleft
{
margin-left:-180px;
	
}

.eyeright
{
margin-left:180px;	
}

.eyeleft::before, eyeright::after
{
content="";
position: absolute;	
width: 175;
height: 175;
border-radius:10%;
box-shadow:inset -22px 4px 0 3px rgba (255, 255, 255, 0.164);

}
 /*left pant portion*/

.pant1
{
	background: gray;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:135px;
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-300px;
	right:-15px;
	transform: rotate(180deg);
	border:10px solid black;
	z-index:-1;
}

/* pant leg right*/

.pant2
{
	background: gray;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:135px;
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-630px;
	right:-158px;
	transform: rotate(180deg);
	border:10px solid black;
	z-index:-1;
}

/*left shoe*/

.shoe1
{
	background: black;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:135px;
	height: 55px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-690px;
	right:-158px;
	transform: rotate(deg);
	border:10px solid black;
	z-index:-1;
}

/*shoe left*/


.shoe2
{
	background: black;
	border-radius:52% 48% 0% 100% / 100% 55% 45% 0%  ;
	width:135px;
	height: 55px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-765px;
	right:-1px;
	transform: rotate(deg);
	border:10px solid black;
	z-index:-1;
}
/*eyes behind asst*/

.eyeleft::after, eyeright::after {
	content:"";
	position: absolute;
	width: 240px;
	height: 10px;
	background: white;
	rotate:45deg;
	
	
}