/* CSS */

body {
  font-family: Arial, sans-serif;
  background-color: #pink;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #2c3e50;
}

#message {
  margin-top: 20px;
  font-size: 20px;
  color: #black;
}